.navigation-container{
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding: 0 30px;
}

.linksList{
    align-items: center;
    display: flex;
    font-size: 24px;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0 30px;
}

.logoutButton{
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
