.search-form{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.search-input{
    border: 2px solid black;
    border-radius: 0.8vh;
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    outline: none;
    padding: 0 12px;
}

.price-inputs-container{
    border: 2px solid black;
    border-radius: 0.8vh;
    box-sizing: border-box;
    display: flex;
    min-width: 40vh;

    overflow: hidden;
    background: white;
    box-sizing: border-box;
}

.price-input{
    border: none;
    height: 100%;
    outline: none;
    padding: 0 12px;
    width: 50%;
}

.price-input:first-child{
    border-right: 2px solid black;
}